.git
.github
.gitignore
venv/
.venv/
__pycache__/
*.pyc
tests/
docs/
reports/
terraform/
monitoring/
dashboard/
*.md
.env
.env.*
.secrets.baseline
src/database/app.db
src/app/static/uploads/*
!src/app/static/uploads/.gitkeep
